<div class="row">
    <div class="col-md-12">
        <section *ngIf="status.status && !status.page" class="search-document-wrapper text-center margin-top-80">
            <h3>Check a Doctor Document</h3>
            <p>Enter a reference code</p>
            <form>
              <div class="form-group">
                    <input type="text" placeholder="reference code" autocomplete="off" [(ngModel)]="prescription.referenceCode" (keyup.enter)="onEnter(code.value)" (keyup)="onKeyCode($event)" class="form-control doctor-code" name="code" #code/>
              </div>
              <div class="form-group">
                <button type="button" class="btn color-btn next-btn white f-19 sf-ui-regular" [disabled]="status.disabledBtn" (click)="nextSearchPatient(code.value)" >Next</button>
              </div>
            </form>
          </section>
          <section *ngIf="!status.status && !status.page" class="search-patient-wrapper text-center margin-top-80">
              <h3>Patient Name</h3>
              <p>Enter first 3 characters of patient name</p>
              <form>
                  <div class="form-row patient-name">
                    <div class="col">
                      <input type="text" autocomplete="off" (keyup)="onKey($event, 1)" (keyup.enter)="onEnterVerify(prescription)" class="form-control letter-1 letter firstLetter" maxlength="1" name="firstLetter" [(ngModel)]="prescription.firstLetter" placeholder="__">
                    </div>
                    <div class="col">
                      <input type="text" autocomplete="off" (keyup)="onKey($event, 2)" (keyup.enter)="onEnterVerify(prescription)" class="form-control letter-2 letter secondLetter" maxlength="1" name="secondLetter" [(ngModel)]="prescription.secondLetter" placeholder="__">
                    </div>
                    <div class="col">
                      <input type="text" autocomplete="off" (keyup)="onKey($event, 3)" (keyup.enter)="onEnterVerify(prescription)" class="form-control letter-3 letter thirdLetter" maxlength="1" name="thirdLetter" [(ngModel)]="prescription.thirdLetter" placeholder="__">
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                      <button type="button" [disabled]="verifyBtn" class="btn white color-btn verifyBtn f-19 sf-ui-regular" (click)="verify(prescription)" >Verify Document</button>
                    </div>
                </form>
            </section>
            <section *ngIf="status.status && status.page" class="status-patient-wrapper text-center margin-top-80">
              <div *ngIf="prescriptionJson">
                <h3 *ngIf="prescriptionJson.status !='Invalid'" class="f-35 sf-ui-semibold">Status</h3>
                <hr *ngIf="prescriptionJson.status !='Invalid'" class="dotted-hr">
                <div *ngIf="prescriptionJson.status =='Valid' && prescriptionJson.expired == false" class="container">
                    <div class="row">
                      <div class="col-md mobile-boxes box-1 box-1-not-expired">
                          <div class="text-center white not-expired-text">
                              <p class="referenceCode f-50 sf-ui-semibold">{{prescriptionJson.referenceCode}}</p>
                              <p class="expiration f-16 sf-ui-semibold">{{prescriptionJson.expirationDate}}</p>
                          </div>
                          
                      </div>
                      <div class="col-md mobile-boxes custom-boxes boxes box-2">
                        <p class="reset-p h2 f-21 fname-txt bold helvetica-neue-bold">{{prescriptionJson.firstName}}</p>
                        <p class="reset-p h2 bold f-21 helvetica-neue-bold">{{prescriptionJson.lastName}}</p>
                        <p class="text-left patient-detail f-14 text-color-label helvetica-neue-medium">Patient Details</p>
                        <div class="row box-wrapper">
                            <div class="col-md small-boxes">
                                <div class="small-boxes-text">
                                  <p class="reset-p text-left f-13 helvetica-neue-medium">{{prescriptionJson.gender}}</p>
                                  <p class="reset-p text-left text-color-label f-13 helvetica-neue-medium">Gender</p>
                                </div>
                            </div>
                            <div class="col-md small-boxes">
                                <div class="small-boxes-text">
                                    <p class="reset-p text-left f-13 helvetica-neue-medium">{{prescriptionJson.age}}</p>
                                    <p class="reset-p text-left text-color-label f-13 helvetica-neue-medium">Age</p>
                                </div>
                            </div>
                        </div>
                        <div class="row box-wrapper">
                            <div class="col-md small-boxes">  
                                <div class="small-boxes-text">
                                    <p class="reset-p text-left f-13 helvetica-neue-medium">{{prescriptionJson.photoId}}</p>
                                    <p class="reset-p text-left text-color-label f-13 helvetica-neue-medium">oDoc ID</p>
                                </div>
                            </div>
                            <div class="col-md small-boxes-inv">
                              </div>
                        </div>
                      </div>
                      <div class="col-md boxes mobile-boxes custom-boxes box-3">
                          <p class="reset-p h2 fname-txt bold f-21 helvetica-neue-bold">{{prescriptionJson.doctorName}}</p>
                          <p class="reset-p f-15 bold text-muted f-16 helvetica-neue-medium">{{prescriptionJson.doctorCredentials}}</p>
                          <br>
                          <img class="box-3-image" src="{{prescriptionJson.doctorSignature}}">
                          <hr class="dotted-hr-small">
                          <img class="box-3-image" src="{{prescriptionJson.doctorSeal}}">
                          
                      </div>
                    </div>
                </div>
                <div *ngIf="prescriptionJson.status =='Valid' && prescriptionJson.expired == true" class="container">
                    <div class="row">
                      <div class="col-md box-1 box-1-expired">
                          <div  class="white expired-text">
                              <p class="referenceCode f-50 sf-ui-semibold">{{prescriptionJson.referenceCode}}</p>
                              <p class="expiration sf-ui-semibold">Expired</p>
                          </div>
                          
                      </div>
                      <div class="col-md boxes box-2 custom-boxes">
                        <p class="reset-p h2 fname-txt bold helvetica-neue-bold">{{prescriptionJson.firstName}}</p>
                        <p class="reset-p h2 bold helvetica-neue-bold">{{prescriptionJson.lastName}}</p>
                        <p class="text-left patient-detail helvetica-neue-medium text-muted f-14">Patient Details</p>
                        <div class="row box-wrapper">
                            <div class="col-md small-boxes">
                                <div class="small-boxes-text">
                                  <p class="reset-p text-left helvetica-neue-medium">{{prescriptionJson.gender}}</p>
                                  <p class="reset-p text-muted text-left helvetica-neue-medium">Gender</p>
                                </div>
                            </div>
                            <div class="col-md small-boxes">
                                <div class="small-boxes-text">
                                    <p class="reset-p text-left helvetica-neue-medium">{{prescriptionJson.age}}</p>
                                    <p class="reset-p text-muted text-left helvetica-neue-medium">Age</p>
                                </div>
                            </div>
                        </div>
                        <div class="row box-wrapper">
                            <div class="col-md small-boxes">  
                                <div class="small-boxes-text">
                                    <p class="reset-p text-left helvetica-neue-medium">{{prescriptionJson.photoId}}</p>
                                    <p class="reset-p text-muted text-left helvetica-neue-medium">oDoc ID</p>
                                </div>
                            </div>
                            <div class="col-md small-boxes-inv">
                              </div>
                        </div>
                      </div>
                      <div class="col-md boxes box-3 custom-boxes">
                          <p class="reset-p h2 fname-txt bold helvetica-neue-bold">{{prescriptionJson.doctorName}}</p>
                          <p class="reset-p f-16 bold text-muted helvetica-neue-medium">{{prescriptionJson.doctorCredentials}}</p>
                          <br>
                          <img class="box-3-image" src="{{prescriptionJson.doctorSignature}}">
                          <hr class="dotted-hr-small">
                          <img class="box-3-image" src="{{prescriptionJson.doctorSeal}}">
                          
                      </div>
                    </div>
                </div>
                <div *ngIf="prescriptionJson.status =='invalid'" class="container">
                    <div class="row">
                        <div class="col-md-10 invalid-status-wrapper">
                            <h2 class="f-35">Hmmm… We can’t seem to find this code: {{prescriptionDetails.reference_code}} <br> Please check and try again</h2>
                        </div>
                        
                    </div>
                </div>
              </div>
              </section>
    </div>
</div>
<spinner backgroundColor="#ff0000" spinner="sk-wave"></spinner>

