.doctor-code {
    width: 400px;
    margin: auto;
}

.patient-name {
    width: 150px;
    margin: auto;
}

.box-1 {
    position: relative;
}

.box-1-text {
    position: absolute;
    top: 120px;
    left: 55px;
}

.not-expired {
    position: absolute;
    top: 120px;
    left: 54px;
}

.white {
    color: #fff;
}

.boxes {
    border: solid 1px #3b8ff7;
    border-radius: 10px;
    background-color: #f2f8ff;
    margin: 0 10px;
}

.box-1-not-expired {
    background-image: url('/assets/images/not-expired.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 345px;
}

.not-expired-text {
    margin-top:115px;
}

.box-1-expired {
    background-image: url('/assets/images/expired.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 345px;
}

.expired-text {
    margin-top:115px;
}

.color-btn {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}


.text-color-label {
    color:#6780a0;
}

.dotted-hr {
    width: 345px;
    margin: 15px 375px;
}

.small-boxes-text {
    margin-top: 15px;
    font-size: 14px;
    margin-left:10px;

}

.box-wrapper {
    margin-top: 10px;
}

.small-boxes {
    min-height: 80px;
    border: solid 1px #cad1da;
    border-radius: 10px;
    margin: 0 10px;
}

.small-boxes-inv {
    margin: 0 10px;
}

.h2 {
    font-size: 20px;
}
.reset-p {
    margin: 0;
    padding: 0;
}

.fname-txt {
    margin-top: 30px;
}

.patient-detail {
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

.invalid-status-wrapper {
    width: 600px;
    margin: auto;
    color: #6b6b6b;
}

.letter {
    text-align: center;
}

.letter::-webkit-input-placeholder {
    color: grey;
    opacity: 1; /* Firefox */
    text-align: center;
 }
 
 .letter:-moz-placeholder { /* Firefox 18- */
    color: grey;
    opacity: 1; /* Firefox */
    text-align: center; 
 }
 
 .letter::-moz-placeholder {  /* Firefox 19+ */
    color: grey;
    opacity: 1; /* Firefox */
    text-align: center;
 }
 
 .letter:-ms-input-placeholder {  
    color: grey;
    opacity: 1; /* Firefox */
    text-align: center; 
 }

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .doctor-code {
        width: 100%;
    }

    .box-1 {
        width: 335px;
        margin: auto !important;
    }

    .dotted-hr {
        width: 100%;
        margin: 15px auto;
    }

    .mobile-boxes {
        padding: 0;
        margin: 0;
    }

    .small-boxes {
        margin: 5px 30px;
    }

    .box-wrapper {
        margin-top: 0px
    }

    .patient-detail {
        margin-left: 15px;
    }

    .box-1 {
        margin-bottom: 7px;
    }

    .page-title {
        font-size: 16px;
    }

    .custom-boxes {
        margin-top: 15px;
        width: 330px;
        margin-left: 5px;
    }

    .box-3 {
        margin-bottom: 15px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .doctor-code {
        width: 100%;
    }

    .box-1 {
        width: 335px;
        margin: auto !important;
    }

    .dotted-hr {
        width: 100%;
        margin: 15px auto;
    }

    .mobile-boxes {
        padding: 0;
        margin: 0;
    }

    .small-boxes {
        margin: 5px 30px;
    }

    .box-wrapper {
        margin-top: 0px
    }

    .patient-detail {
        margin-left: 15px;
    }
    .box-1 {
        margin-bottom: 7px;
    }

    .page-title {
        font-size: 16px;
    }

    .custom-boxes {
        margin-top: 15px;
        width: 330px;
        margin-left: 5px;
    }

    .box-3 {
        margin-bottom: 15px;
    }
}