/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: SF-UI-Semibold;
    src: url("assets/fonts/sf-ui/SF-UI/SF-UI-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: SF-UI-Regular;
    src: url("assets/fonts/sf-ui/SF-UI/SF-UI-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("assets/fonts/helveticaneue/HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url("assets/fonts/helveticaneue/HelveticaNeue-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url("assets/fonts/helveticaneue/HelveticaNeueMed.ttf") format("truetype");
}
/* This style is for the seal and signature image */
.box-3-image {
    width: 150px;
}

.btn-light {
    border-color: #D6D6D6;
}

button {
    font-family: SF-UI-Regular;
}

.helvetica-neue {
    font-family: 'Helvetica Neue';
}

.helvetica-neue-bold {
    font-family: 'Helvetica Neue Bold';
}

.helvetica-neue-medium {
    font-family: 'Helvetica Neue Medium';
}


.sf-ui-semibold {
    font-family: SF-UI-Semibold;
}

.sf-ui-regular {
    font-family: SF-UI-Regular;
}

.margin-top-80 { 
    margin-top: 80px;
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}


.f-16 {
    font-size: 16px;
}

.f-19 {
    font-size: 19px;
}

.f-21 {
    font-size: 21px;
}

.f-27 {
    font-size: 27px;
}

.f-35 {
    font-size: 35px;
}

.f-45 {
    font-size: 45px
}

.f-50 {
    font-size: 50px;
}