.text-center-right {
    float: right
}

.cancel-btn-top {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(227,227,227,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(227,227,227,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(227,227,227,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(227,227,227,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(227,227,227,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(227,227,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3', GradientType=0 );
    color: #008FFF;
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .page-title {
        font-size: 20px;
    }

    .text-center-left {
        width: 80%;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .page-title {
        font-size: 20px;
    }

    .text-center-left {
        width: 80%;
    }
}