<div class="row">
    <div class="col-9 mobile-screen">
      <h2 class="page-title f-27">Doctor Document</h2>
    </div>
    <div *ngIf="cancelBtn" class="col-3">
        <button type="button" (click)="back(defaultStatus.btnName)" class="btn btn-light color-btn-cancel cancel-btn-top text-center-right f-19">{{defaultStatus.btnName}}</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <app-search-document [(status)]="defaultStatus" (showCancelBtn)="setCalcelBtnStatus($event)"></app-search-document>
    </div>
</div>